<footer class="">
  <div class="footer-container">
    <p class="my-auto">
      © 2024 Planeta Hispano | Diseñado por Uriel Summmonte | Contacto:
    </p>
    <a href="https://www.facebook.com/uriel.summonte/" target="_blank">
      <img src="/icons/facebook.svg" alt="Logo de facebook" />
    </a>
    <a href="https://www.instagram.com/urielsum/" target="_blank">
      <img src="/icons/instagram.svg" alt="Logo de instagram" />
    </a>
  </div>
</footer>
