<header>
    <nav class="navbar navbar-dark">
        <div class="container">
            <!-- Nombre del sitio -->
            <a class="navbar-brand nombre-pagina" href="/api/paises">Planeta Hispano</a>
            <!-- Enlaces -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api/paises">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="boton-cargar">Cargar Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="boton-borrar">Borrar Datos</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/api/paises/listar">Lista de Paises</a> -->
                    <a class="nav-link" href="#" id="boton-listar">Lista de Paises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/paises/insertar">Agregar País</a>
                </li>
            </ul>
        </div>
    </nav>
</header>